<footer class="z-50 pt-5 border-t border-gray-200 text-center text-base text-gray-800">
    <div class="flex flex-col sm:flex-row justify-center items-center gap-2 sm:gap-0">
        <a href="/seite-1" class="text-gray-800 hover:text-red-900">Seite 1</a>
        <span class="hidden sm:inline mx-2">|</span>
        <a href="/seite-2" class="text-gray-800 hover:text-red-900">Seite 2</a>
        <span class="hidden sm:inline mx-2">|</span>
    </div>
    <p class="pt-1 text-sm">&copy; {{ '' | year }} -
        <a href="/impressum" target="_blank" class="text-[#8E3F57] hover:text-red-900">BlaBla GmbH</a>
    </p>
</footer>