<nav class="flex flex-col sm:flex-row w-full justify-between items-center px-4 sm:px-6 py-1 bg-white sm:bg-transparent shadow
    sm:shadow-none">
  <div class="w-full sm:w-auto self-start sm:self-center flex flex-row sm:flex-none flex-no-wrap justify-between items-center">
    <a href="/" class="no-underline hover:text-gray-600 hover:no-underline flex flex-row items-center space-x-2">
      <img src="/images/logo.png" alt="Logo" class="h-12 py-1"/>
      <span class="text-gray-600 font-bold text-2xl">Logo</span>
    </a>
    <button
      id="menuBtn"
      class="hamburger block sm:hidden focus:outline-none"
      type="button"
      onclick="navToggle();"
      aria-label="Show Menu">
      <span class="hamburger__top-bun"></span>
      <span class="hamburger__middle-bun"></span>
      <span class="hamburger__bottom-bun"></span>
    </button>
  </div>
  <div
    id="menu"
    class="w-full sm:w-auto self-end sm:self-center sm:flex flex-col sm:flex-row items-center h-full py-4 sm:py-0 mobile-menu
      hidden">
    <div class="flex flex-col sm:flex-row space-y-6 sm:space-y-0 sm:space-x-8 items-center w-full sm:w-auto">
      <a class="text-gray-800 font-bold hover:text-red-900 text-xl w-full sm:w-auto text-center" href="/seite-1">
        Seite 1
      </a>
      <a class="text-gray-800 font-bold hover:text-red-900 text-xl w-full sm:w-auto text-center" href="/seite-2">
        Seite 2
      </a>
    </div>
  </div>
</nav>