<!-- Base layout: Umschreibt jede Seite mit den nötigen HTML-Tags und CSS-Dateien, die erforderlich sind um alle Seiten
und Styles zu laden.

Wenn neue globale Styles, Icons, etc. benötigt werden, sollte diese Datei erweitert werden. -->
<!doctype html>
<html lang="en" dir="ltr">
  <head>
    <link rel="canonical" href="{{ config.url }}{{ page.url }}">
    <link rel="stylesheet" href="/css/styles.css"/>
    <!-- flatpickr -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
    <script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>

    {# Google Analytics Script Tag #}
    {% if config.googleAnalyticsId %}
    <script async src="https://www.googletagmanager.com/gtag/js?id={{ config.googleAnalyticsId }}"></script>
    <script src="/scripts/cookie-consent.js"></script>
    {% endif %}

    <title>
      {% if title and title != 'Home' %}
        {{ title }} -
      {% endif %}
      {{ config.siteTitle }}</title>
    <!-- Icons -->
    <link rel="shortcut icon" type="image/png" href="{{ config.logo.main }}"/>
    <link
    rel="apple-touch-icon" type="image/png" href="{{ config.logo.main }}"/>
    <!-- Meta -->
    <meta name="description" content="{% if description %}{{ description }}{% else %}{{ config.description }}{% endif %}">
    <meta name="keywords" content="{% if keywords %}{{ keywords }}{% else %}{{ config.keywords }}{% endif %}">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="Content-Language" content="de">
    <meta name="viewport" content="width=device-width,initial-scale=1">
  </head>
  <body>
    {% include "src/components/action/cookie-banner.njk" %}
    {{ content | safe }}
  </body>
</html>