<section>
  <div class="relative isolate mt-32 mb-32 sm:mt-40 sm:mb-40">
    <div class="mx-auto max-w-7xl sm:px-6 lg:px-8">
      <div
        class="mx-auto flex max-w-2xl flex-col gap-16 bg-white/5 px-6 py-16 ring-1 ring-white/10 sm:rounded-3xl sm:p-8 lg:mx-0 lg:max-w-none lg:flex-row lg:items-center lg:py-20 xl:gap-x-20 xl:px-20"
      >
        <img
          class="h-96 w-full flex-none rounded-2xl object-cover shadow-xl lg:aspect-square lg:h-auto lg:max-w-sm"
          src="{{ data.image }}"
          alt="{{ data.imageAlt }}"
        />
        <div class="w-full flex-auto">
          <h2
            class="text-pretty text-4xl font-semibold tracking-tight text-content dark:text-content-dark sm:text-5xl"
          >
            {{ data.title }}
          </h2>
          <p class="mt-6 text-pretty text-lg/8 text-content-secondary dark:text-content-secondary-dark">
            {{ data.description }}
          </p>
          <ul
            role="list"
            class="mt-10 grid grid-cols-1 gap-x-8 gap-y-3 text-base/7 text-content-secondary dark:text-content-secondary-dark sm:grid-cols-2"
          >
            {% for feature in data.features -%}
            <li class="flex gap-x-3">
              <svg
                class="h-7 w-5 flex-none"
                viewBox="0 0 20 20"
                fill="currentColor"
                aria-hidden="true"
                data-slot="icon"
              >
                <path
                  fill-rule="evenodd"
                  d="M10 18a8 8 0 1 0 0-16 8 8 0 0 0 0 16Zm3.857-9.809a.75.75 0 0 0-1.214-.882l-3.483 4.79-1.88-1.88a.75.75 0 1 0-1.06 1.061l2.5 2.5a.75.75 0 0 0 1.137-.089l4-5.5Z"
                  clip-rule="evenodd"
                />
              </svg>
              {{ feature }}
            </li>
            {%- endfor %}
          </ul>
          {% for button in data.buttons -%}
          <div class="mt-5 flex">
            <a
              href="{{ button.url }}"
              target="_blank"
              class="rounded-md bg-highlight dark:bg-highlight-dark text-white px-6 py-3 text-sm/6 font-semibold hover:bg-highlight/80 dark:hover:bg-highlight-dark/80"
            >
              {{ button.label }}
            </a>
          </div>
          {%- endfor %}
        </div>
      </div>
    </div>
    <div
      class="absolute inset-x-0 -top-16 -z-10 flex transform-gpu justify-center overflow-hidden blur-3xl"
      aria-hidden="true"
    >
      <div
        class="aspect-[1318/752] w-[82.375rem] flex-none bg-gradient-to-r from-highlight to-highlight/50 dark:from-highlight-dark dark:to-highlight-dark/50 opacity-15"
        style="
          clip-path: polygon(
            73.6% 51.7%,
            91.7% 11.8%,
            100% 46.4%,
            97.4% 82.2%,
            92.5% 84.9%,
            75.7% 64%,
            55.3% 47.5%,
            46.5% 49.4%,
            45% 62.9%,
            50.3% 87.2%,
            21.3% 64.1%,
            0.1% 100%,
            5.4% 51.1%,
            21.4% 63.9%,
            58.9% 0.2%,
            73.6% 51.7%
          );
        "
      ></div>
    </div>
  </div>
</section>
