<div>
  <div class="mx-auto max-w-7xl px-4 py-12 sm:px-6 lg:px-8">
    <div class="text-center">
      <h2 class="text-2xl font-semibold text-content dark:text-content-dark">{{ data.title }}</h2>
      <div class="mt-8 flex justify-center">
        <div class="inline-flex rounded-md shadow">
          <a href="{{ data.cta.url }}" class="inline-flex items-center justify-center rounded-md border border-transparent bg-background dark:bg-background-dark px-5 py-3 text-base font-medium text-highlight dark:text-highlight-dark hover:bg-background-secondary dark:hover:bg-background-secondary-dark">
            {{ data.cta.label }}
            <svg class="ml-2 -mr-1 h-5 w-5" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 16v1a3 3 0 003 3h10a3 3 0 003-3v-1m-4-4l-4 4m0 0l-4-4m4 4V4" />
            </svg>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>