<div class="bg-white py-24 sm:py-32">
    <div class="mx-auto max-w-7xl px-6 lg:px-8">
        <div class="mx-auto max-w-2xl sm:text-center">
            <h2 class="text-base/7 font-semibold text-primary-600">{{ data.tagline }}</h2>
            <p class="mt-2 text-pretty text-4xl font-semibold tracking-tight text-gray-900 sm:text-balance sm:text-5xl">{{ data.heading }}</p>
            <p class="mt-6 text-lg/8 text-gray-600">{{ data.description }}</p>
        </div>
    </div>

    {%- if data.image %}
        <div class="relative overflow-hidden pt-16">
            <div class="mx-auto max-w-7xl px-6 lg:px-8">
                <img src="{{ data.image.src }}" alt="{{ data.image.alt }}" class="mb-[-12%] rounded-xl shadow-2xl ring-1 ring-gray-900/10" width="{{ data.image.width }}" height="{{ data.image.height }}">
                <div class="relative" aria-hidden="true">
                    <div class="absolute -inset-x-20 bottom-0 bg-gradient-to-t from-white pt-[7%]"></div>
                </div>
            </div>
        </div>
    {%- endif %}

    <div class="mx-auto mt-16 max-w-7xl px-6 sm:mt-20 md:mt-24 lg:px-8">
        <dl class="mx-auto grid max-w-2xl grid-cols-1 gap-x-6 gap-y-10 text-base/7 text-gray-600 sm:grid-cols-2 lg:mx-0 lg:max-w-none lg:grid-cols-3 lg:gap-x-8 lg:gap-y-16">
            {%- for feature in data.features %}
                <div class="relative pl-9">
                    <dt class="inline font-semibold text-gray-900">
                        {{ feature.icon | safe }}
                        {{ feature.title }}
                    </dt>
                    <dd class="inline">{{ feature.description }}</dd>
                </div>
            {%- endfor %}
        </dl>
    </div>
</div>