{# Main Content Section #}
<div class="relative isolate px-6 pt-4 lg:px-8">
  {# Hero Background Image #}  

  {# Background Gradient Top Left #}
  <div class="absolute inset-y-0 left-0 -z-10 transform-gpu overflow-hidden blur-3xl" aria-hidden="true">
    <div class="relative top-[50%] left-[0] aspect-[1155/678] w-[20rem] -translate-y-1/2 bg-gradient-to-tr from-highlight to-highlight-secondary opacity-50 sm:w-[30rem]" style="clip-path: polygon(74.1% 44.1%, 100% 61.6%, 97.5% 26.9%, 85.5% 0.1%, 80.7% 2%, 72.5% 32.5%, 60.2% 62.4%, 52.4% 68.1%, 47.5% 58.3%, 45.2% 34.5%, 27.5% 76.7%, 0.1% 64.9%, 17.9% 100%, 27.6% 76.8%, 76.1% 97.7%, 74.1% 44.1%)"></div>
  </div>

  {# Main Content #}
  <div class="mx-auto max-w-2xl py-8 sm:py-12 lg:py-14">
    {% if data.announcement %}
    <div class="hidden sm:mb-8 sm:flex sm:justify-center">
      <div class="relative rounded-full px-3 py-1 text-sm/6 text-content-secondary dark:text-content-secondary-dark ring-1 ring-gray-900/10 hover:ring-gray-900/20">
        {{ data.announcement.text }} <a href="{{ data.announcement.link.url }}" class="font-semibold text-highlight dark:text-highlight-dark"><span class="absolute inset-0" aria-hidden="true"></span>{{ data.announcement.link.label }} <span aria-hidden="true">&rarr;</span></a>
      </div>
    </div>
    {% endif %}

    <div class="text-center">
      <h1 class="text-balance text-5xl font-semibold tracking-tight text-content dark:text-content-dark sm:text-7xl">{{ data.hero.title }}</h1>
      <p class="mt-8 text-pretty text-lg font-medium text-content-secondary dark:text-content-secondary-dark sm:text-xl/8">{{ data.hero.description }}</p>
      <div class="mt-10 flex items-center justify-center gap-x-6">
        <a href="{{ data.hero.primaryButton.url }}" class="rounded-md bg-highlight dark:bg-highlight-dark px-3.5 py-2.5 text-sm font-semibold text-black dark:text-black shadow-sm hover:bg-highlight-secondary dark:hover:bg-highlight-secondary-dark focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-highlight dark:focus-visible:outline-highlight-dark">{{ data.hero.primaryButton.label }}</a>
        <a href="{{ data.hero.secondaryButton.url }}" class="text-sm/6 font-semibold text-content dark:text-content-dark">{{ data.hero.secondaryButton.label }} <span aria-hidden="true">→</span></a>
      </div>
    </div>
  </div>

  {# Background Gradient Bottom Right #}
  <div class="absolute inset-y-0 right-0 -z-10 transform-gpu overflow-hidden blur-3xl" aria-hidden="true">
    <div class="relative top-[50%] right-[0] aspect-[1155/678] w-[20rem] -translate-y-1/2 bg-gradient-to-tr from-highlight to-highlight-secondary opacity-50 sm:w-[30rem]" style="clip-path: polygon(74.1% 44.1%, 100% 61.6%, 97.5% 26.9%, 85.5% 0.1%, 80.7% 2%, 72.5% 32.5%, 60.2% 62.4%, 52.4% 68.1%, 47.5% 58.3%, 45.2% 34.5%, 27.5% 76.7%, 0.1% 64.9%, 17.9% 100%, 27.6% 76.8%, 76.1% 97.7%, 74.1% 44.1%)"></div>
  </div>
</div>