<div class="py-24 sm:py-32">
<div class="mx-auto grid max-w-7xl gap-20 px-6 lg:px-8 xl:grid-cols-3">
        <div class="max-w-xl">
            <h2 class="text-pretty text-3xl font-semibold tracking-tight text-content dark:text-content-dark">
                {{ data.title }}
            </h2>
            <p class="mt-6 text-lg/8 text-content-secondary dark:text-content-secondary-dark">
                {{ data.description }}
            </p>
</div>
    <ul role="list" class="grid gap-x-8 gap-y-12 sm:grid-cols-2 sm:gap-y-16 xl:col-span-2">
        {% for person in data.team %}<li>
            <div class="flex items-center gap-x-6">
                <img class="size-16 rounded-full" src="{{ person.image | trim }}" alt="{{ person.name | trim }}">
                    <div>
                        <h3 class="text-base/7 font-semibold tracking-tight text-content dark:text-content-dark mb-0">
                                {{ person.name | trim }}
                            </h3>{% set role = person.role | trim %}{% if role %}<p class="text-sm font-semibold text-highlight dark:text-highlight-dark mb-0 mt-0">{{ role | trim }}</p>{% endif %}
                        </div>
                    </div>
        </li>{% endfor %}
    </ul>
    </div>
</div>