---
layout: layout/header-content-footer_1.njk
---

<div class="mx-auto max-w-7xl px-6 lg:px-8">
    <h2 class="pb-12 pt-24 text-3xl font-bold animate-gradient">
        {{ title }}
    </h2>
</div>
<div class="mx-auto max-w-7xl px-6 lg:px-8">
    {{ content | safe }}
</div>