---
layout: layout/base/html.njk
---
<header>
    {% include "layout/header/simple_header.njk" %}
</header>
<div class="min-h-screen bg-background-secondary dark:bg-background-secondary-dark text-content dark:text-content-dark pb-5">
    {{ content | safe }}
</div>
<footer class="bg-background dark:bg-background-dark text-content dark:text-content-dark pb-5">
    {% include "layout/footer/footer_simple.njk" %}
</footer>