<div class="z-50 pt-5 border-gray-200 text-content dark:text-content-dark text-center text-base">    
    <p class="pt-1 text-sm">&copy; {{ '' | year }} -
        <a href="{{ footer.company.url }}" target="_blank" class="text-highlight dark:text-highlight-dark hover:text-highlight-secondary hover:dark:text-highlight-secondary-dark">{{ footer.company.name }}</a>
    </p>
</div>