<div class="z-50 pt-5 border-gray-200 text-content dark:text-content-dark text-center text-base">
    <div class="flex flex-col sm:flex-row justify-center items-center gap-2 sm:gap-0">
        {% for item in footer.navigation %}
            {% if not loop.first %}
                <span class="hidden sm:inline mx-2">|</span>
            {% endif %}
            <a href="{{ item.url }}" class="text-content dark:text-content-dark hover:text-highlight hover:dark:text-highlight-dark">{{ item.title }}</a>
        {% endfor %}
    </div>
    <p class="pt-1 text-sm">&copy; {{ '' | year }} -
        <a href="{{ footer.company.url }}" target="_blank" class="text-highlight dark:text-highlight-dark hover:text-highlight-secondary hover:dark:text-highlight-secondary-dark">{{ footer.company.name }}</a>
    </p>
</div>